
   <style>

        footer {

            position: fixed;
            margin-left: auto; 
            margin-right: auto;
            height: 100;
            width: 100%;
            text-align: center;
            font-size: 1em;
            bottom: 0;
          };
        </style>

    <footer>

        <div class="text-center">

            <p class="bg-success"><strong>Developed by : Rajat Mittal, &nbsp; IIT JAMMU</strong> <br> <strong>Connect Me : &nbsp; </strong>
                <a href="https://www.facebook.com/rajatenzyme" target="_blank" style="color:black;"><strong>Facebook
                        &nbsp; </strong></a>
                <a href="https://www.instagram.com/rajat_enzyme" target="_blank" style="color:black;"><strong>Instagram
                        &nbsp; </strong></a>
                <a href="https://www.linkedin.com/in/rajatenzyme" target="_blank" style="color:black;"><strong>Linkedin
                        &nbsp; </strong></a>
                <a href="https://www.github.com/rajatenzyme" target="_blank" style="color:black;"><strong>Github
                        &nbsp; </strong></a>
            </p>

        </div>

    </footer>
