

<style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
<header>
    

      

<ul>
    <% if(locals.user) { %>
      <li>
        <a href="http://localhost:8000/users/profile"><%= user.name %> </a> 
      </li>
    <% } %>
    <li>
        <a href="http://localhost:8000/">Home</a>
    </li>

    <% if(locals.user) { %>
        
        <li>
            <a href="/users/sign-out">Sign Out</a>
        </li>
    
    <% } else { %>
        <li>
            <a href="/users/sign-in">Sign in</a>
        </li>

        <li>
            <a href="/users/sign-up">Sign Up</a>
        </li>
    <% } %>



</ul>







</header>