
    <h1>Welcome to iConnect | <%= title %></h1>
    <h2>Click to sign in below:</h2>
    <a href="http://localhost:8000/users/sign-up">Sign up</a>

    <h2>Already a user! Great! Sign in then ==></h2>
    <a href="http://localhost:8000/users/sign-in">Sign in</a>