
<link rel="stylesheet" href="/css/signup.css">
<style>
    body{
        background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
        /* background-image: url('images/bg.png'); */
   }

    /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white; 
  
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
</style>
<!-- 
<h1>Welcome to iConnect | <%= title %></h1>
<h2>Click to sign up below:</h2>
<a href="http://localhost:8000/users/sign-up">Sign up</a>

<h2>Already a user! Great! Sign in then ==></h2>
<a href="http://localhost:8000/users/sign-in">Sign in</a> -->
<div class="container">
    <div class="centered">
       Welcome to iConnect Platform
    </div>
  </div>